extends layout

block content
  .navbar
    .logo
    ul.menu
      li Home
      li Book Online
      li Blog
      li About
  .jumbo
    .jumboImg
      .actionCall
        h2.jumboTitle FACEBOOK ADVERTISING
        .jumboBtn 
          h3 Work With Us
  .about
    .blurb
      h1 Who Are We?
      p At River Isle we specialize in Facebook Ads. We connect with each client to better understand their needs and tailor a campaign strategy that will achieve results.
    .aboutImg
  .services
    .servicesBlurb
      h5.title Services
      h1 What We Offer
      p Not every Marketing Agency is created equal. At River Isle, we know that the best results come from a tailored approach that focuses on the details that matter most. With our proven strategies, your business is bound for wild success.
    .serviceList
      .serviceIcon
        img(src="images/Targeting.jpg")
        h3
        h5
