extends layout

block content
  .navbar
    .logo
    ul.menu
      li Home
      li Book Online
      li Blog
      li About
  .jumbo
    .jumboImg
      .actionCall
        h2.jumboTitle FACEBOOK ADVERTISING
        .jumboBtn
          h3 Work With Us
  .about
    .blurb
      h1 Who Are We?
      p At River Isle we specialize in Facebook Ads. We connect with each client to better understand their needs and tailor a campaign strategy that will achieve results.
    .aboutImg
  .services
    .servicesBlurb
      h5.title Services
      h1 What We Offer
      p Not every Marketing Agency is created equal. At River Isle, we know that the best results come from a tailored approach that focuses on the details that matter most. With our proven strategies, your business is bound for wild success.
    .serviceList
      .serviceIcon
        img(src="../images/reporting.jpg")
        h3 Targeting
        h5 We do it right
      .serviceIcon
        img(src="../images/transparency.jpg")
        h3 Ad Campaigns
        h5 Timely and effective
      .serviceIcon
        img(src="../images/testing.jpg")
        h3 Testing
        h5 Optimitze Capaigns
      .serviceIcon
        img(src="../images/reporting.jpg")
        h3 Reporting
        h5 Measurable Results
  .contact
    .contactPortrait
      img(src="../images/glenn-peters.jpg")
    .contactForm
      h3 Connect With us
      h5 info@mysite.com
      form(action="/something")
        input
        input
        input
        input
