body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  width: 100vw;
  height: 115px;
  min-width: 1020px;
}

.jumbo {
  height: 90vh;
  width: 100vw;
  min-height: 750px;
}

.jumboImg {
  height: 100%;
  background: url(../images/michael-browning-30673.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  min-width: 1020px;
}

.logo {
  display: inline-block;
  position: relative;
  left: 250px;
  top: 15px;
  width: 100px;
  height: 100px;
  background: url(../images/River_Isle.jpg) no-repeat center center;
  background-size: cover;
}

.menu {
  position: relative;
  float: right;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  right: 250px;
  top: 50px;
  line-height: 100%;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
  height: 100%;
  text-align: center;
  width: 100px;
}

.actionCall {
  float: right;
  margin-top: 100px;
  margin-right: 200px;
  width: 700px;
  height: 400px;
}

.jumboTitle {
  color: white;
  letter-spacing: 4px;
  font-size: 75px;
  text-align: center;
}

.jumboBtn {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  border: 2px solid white;
}

.jumboBtn h3 {
  color: white;
  text-align: center;
}

.about {
  width: 100vw;
  height: 100vh;
  background-color: #AAC9DA;
  min-width: 1020px;
  min-height: 750px;
}

.blurb {
  position: relative;
  background-color: white;
  margin: 0 auto;
  top: 100px;
  height: 200px;
  width: 800px;
  text-align: center;
}

.blurb h1 {
  margin: 0;
  padding: 20px;
  font-size: 50px;
}

.blurb p {
  width: 80%;
  margin: 0 auto;
  letter-spacing: 1px;
  line-height: 20px;
}

.aboutImg {
  height: 60vh;
  width: 90vw;
  min-width: 950px;
  background-color: black;
  background: url(../images/laptops.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
}

.services {
  width: 100vw;
  height: 100vh;
  min-width: 1020px;
  min-height: 750px;
}

.servicesBlurb {
  padding-top: 100px;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
}

.servicesBlurb h5 {
  font-size: 20px;
  padding: 0;
  margin: 0 auto;
}

.servicesBlurb p {
  padding: 0 200px;
}

.serviceList {
  margin: 0;
  padding: 0 75px;
  overflow: auto;
}

.serviceIcon {
  width: 25%;
  float: left;
  left: -50%;
  text-align: center;
}

.serviceIcon img {
  width: 220px;
}

.contact {
  height: 75vh;
  background-color: #C0BFC6;
  width: 100vw;
  margin: 0;
  min-width: 1020px;
}

.contactPartition {
  padding-top: 100px;
  padding-left: 50px;
  width: 40%;
  float: left;
  left: -50%;
}

.contactPartition img {
  width: 450px;
}

.contactPartition form {

}
